spring:
  cloud:
    config:
      uri:
        - http://localhost:9096

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:9093/eureka/
  instance:
    hostname: localhost
    
microservice:
  payment-service-api:
    endpoints:
      endpoint:
        uri: http://PAYMENT-SERVICE-API/payments
  order-service-api:
    endpoints:
      endpoint:
        uri: http://ORDER-SERVICE-API/orders
